
  <div class="container mt-5 mb-5">

    <nav class="navbar navbar-fixed-top  navbar-expand-lg " style="background-color: rgb(143, 212, 244);">
    
      <a class="navbar-brand mx-2" href="#">
          <img src="/assets/images/new.png" width="40" height="40" alt="Icon">
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a style="color: rgb(2, 60, 22);" class="nav-link" ><h6>Welcome</h6></a>
          </li>
          
          <li class="nav-item">
            <a style="color: rgb(247, 69, 4);" class="nav-link"  ><h4>{{userid}}</h4></a>
          </li>
      </ul> 
  
      <div id="left">
        <button routerLink="" class="btn btn-warning  ">Logout</button>
   </div>
    </nav>

    <br>
    <br>

    <form #searchProductform="ngForm" (ngSubmit)="SearchProducts();" class="row row-cols-lg-auto g-3 mt-5 mx-5 mb-3 text-center">
      <div class="col">
        <label class="visually-hidden " for="inline-form-id" >Id</label>
         <input type="text" class="form-control mb-5 mx-5" id="id" name="id"  [(ngModel)]="_searchproduct.id"
          placeholder="Product Id"/>
      </div>
      <div class="col">
        <label class="visually-hidden" for="inline-form-name" >Name</label>
        <input type="text" class="form-control mb-5 mx-5" id="name" name="name" [(ngModel)]="_searchproduct.name"
          placeholder="Product Name"/>
      </div>
      <div class="col">
        <label class="visually-hidden" for="inline-form-brand" >Brand</label>
        <input type="text" class="form-control mb-5 mx-5" id="brand" name="brand" [(ngModel)]="_searchproduct.brand"
          placeholder="Product Brand">
      </div>
    
      <div class="col">
        <button type="submit" class="btn btn-primary mb-3 mx-5" >Search By</button>
      </div>
    </form>
    
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-8 col-sm-8">
        <!-- <table>
          <tr>
            <td>
              <input type="text" placeholder="name">
            </td>
            <td>
              <input type="text" placeholder="pw">
            </td>
            <td>
              <button type="submit">Click</button>
            </td>
          </tr>
        </table> -->
        <form [formGroup]="demo">

          <div class="row row-cols-lg-auto g-3 mx-5 mb-3 text-center" >
            <div class="col">
           
          <input type="number" class="form-control mx-1" formControlName="m" placeholder="minimum">
    
        </div>
    
        <div class="col">
          <input type="number" class="form-control mx-1" formControlName="n" placeholder="maximum">
        </div>
    
        <div class="col">
          <button type="submit" (click)="check()" class="btn btn-primary pricecheck">Price Filter</button>
    
        </div>
      </div>
    
        </form>

      </div>

      <div class="col-md-4 col-4 col-sm-4">
        <!-- <table>
          <tr>
            <td>
              <input type="text" placeholder="brand">
            </td>
            <td>
              <button type="submit">Click it</button>
            </td>
          </tr>
        </table> -->

        <form [formGroup]="brandfilter" >
          <select class="selectpicker" formControlName="brandvalue" >
            <option selected value=""> Brand</option>
      
                                  <option value={{item}} *ngFor="let item of brandlist">
      
                                    {{item}}
      
                                  </option>
          </select>
          <button type="submit" class="btn btn-primary brandname" (click)="brandsearch()">Search</button>
        </form>
      </div>
    
    </div>
  </div>

    <!-- <form [formGroup]="brandfilter" >
    <select class="selectpicker" formControlName="brandvalue" >
      <option selected value=""> Brand</option>

                            <option value={{item}} *ngFor="let item of brandlist">

                              {{item}}

                            </option>
    </select>
    <button type="submit" class="btn btn-primary brandname" (click)="brandsearch()">Search</button>
  </form>



    <form [formGroup]="demo">

      <div class="row row-cols-lg-auto g-3 mt-5 mx-5 mb-3 text-center" >
        <div class="col">
       
      <input type="text" class="form-control mb-5 mx-5" formControlName="m" placeholder="minimum">

    </div>

    <div class="col">
      <input type="text" class="form-control mb-5 mx-5" formControlName="n" placeholder="maximum">
    </div>

    <div class="col">
      <button type="submit" (click)="check()" class="btn btn-primary pricecheck">Price Filter</button>

    </div>
  </div>

    </form> -->

</div>
    <div class="container">

      
        <h2 class="text-center " style="color: rgb(2, 60, 22);" >Product list</h2>
    <br>
    <br>

    <div class="d-flex justify-content-center row">
      
      <div *ngFor="let product of _productlist">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" [src]="url + [product.name]"></div>
                <div class="col-md-6 mt-1">
                    <h3>{{product.productName}}</h3>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">  
                      <h5 class="text-success">{{product.brand}}</h5>
                    </div>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1"> ₹ {{product.price}}</h4>
                    </div>
      
                    
                    <div class="d-flex flex-column mt-4"><button (click)="details(product.id)"  class="btn btn-primary btn-sm" type="button">Details</button></div>
                
      </div>           
                  </div>
            </div>

            <br>
                <br>
      